@font-face {
  font-family: 'IBM Plex Mono';
  src: url('./IBMPlexMono-Regular.woff2') format('woff2'), url('./IBMPlexMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  fallback: unset;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./IBMPlexSans-Regular.woff2') format('woff2'), url('./IBMPlexSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  fallback: unset;
}

@font-face {
  font-family: 'IBM Plex Sans';
  src: url('./IBMPlexSans-Bold.woff2') format('woff2'), url('./IBMPlexSans-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  fallback: unset;
}