@import './fonts/fonts.css';

body {
  margin: 0;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "IBM Plex Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  background: rgba(0,0,0,0.05);
  border-radius: 2px;
  padding: 0 4px;
  font-size: 1em;
}

textarea, input, button, select { font-family: inherit; font-size: inherit; }
